.header-cart {
  margin-right: 6vw;
  display: flex;
  align-items: center;
}

.header-cart > img {
  width: calc(23px + 1vmin);
  margin-right: 1vw;
}

.header-cart > span {
  font-size: calc(15px + 0.2vw);
}
