:root {
  --product-grid-item-width: 200px;
  --product-grid-item-height: 249px;
}

.search-container {
  margin: 40px 40px 10px 40px;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
  .search-container {
    justify-content: center;
  }
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 20px;
}

.product-grid-item {
  flex: 1 0 22%;
  margin: 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  background-color: #f6f6f6;
  width: var(--product-grid-item-width);
  height: var(--product-grid-item-height);
  border-radius: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-grid-item img {
  width: calc(var(--product-grid-item-width) - 50px);
  height: calc(var(--product-grid-item-height) - 50px);
}

.product-grid-item-info {
  width: var(--product-grid-item-width);
  margin-top: 5px;
}

.product-grid-item-info a {
  text-decoration: none;
}

.product-grid-item p {
  margin-top: 5px;
  font-family: "Open Sans";
  line-height: 16px;
  font-size: 16px;
  color: rgb(54, 54, 54);
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination-button {
  font-size: 20px;
  color: #444;
  width: 45px;
  height: 39px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 10%;
}

.pagination-button:hover {
  background-color: rgba(0, 153, 255, 0.212);
}
