:root {
  --product-grid-item-width: 150px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 20px;
}

.product-grid-item {
  flex: 1 0 22%;
  margin: 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-grid-item img {
  width: var(--product-grid-item-width);
}

.product-grid-item .product-grid-item-info {
  width: var(--product-grid-item-width);
  margin-top: 0px;
}

.product-grid-item p {
  font-family: "Helvetica";
  line-height: 16px;
  font-size: 13px;
  color: #000;
  font-weight: 500;
}
