:root {
  --product-grid-item-width: 200px;
  --product-grid-item-height: 249px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 20px;
}

.product-grid-item {
  flex: 1 0 22%;
  margin: 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  background-color: #f6f6f6;
  width: var(--product-grid-item-width);
  height: var(--product-grid-item-height);
  border-radius: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-grid-item img {
  width: calc(var(--product-grid-item-width) - 50px);
  height: calc(var(--product-grid-item-height) - 50px);
}

.product-grid-item-info {
  width: var(--product-grid-item-width);
  margin-top: 5px;
}

.product-grid-item-info a {
  text-decoration: none;
}

.product-grid-item p {
  margin-top: 5px;
  font-family: "Open Sans";
  line-height: 16px;
  font-size: 16px;
  color: rgb(54, 54, 54);
}

.pagination {
  display: inline-block;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination span {
  font-size: 20px;
}

.pagination-button {
  width: 40px;
  height: 34px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination-button:hover {
  background-color: #ddd;
}

.pagination a {
  /* display: inline-block; */
  color: black;
  float: left;
  padding: 8px 16px;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
