.header-breadcrumb {
  width: 180px;
}

.header-breadcrumb span {
  color: #999;
}

.header-breadcrumb a {
  text-decoration: none;
  color: #3e3eb9d3;
  transition: color ease-in-out 0.3s, background ease-in-out 0.2s;
}
